.white{
    color: #ffffff !important;
}
.opac{
    a:hover{
        opacity: 0.9;
    }
}
.navbar-brand {
    width: 200px;
    height: 50px;
    .logos {        
        position: absolute;
        top: 50%;
        left: 6.5%;
        transform: translate(-50%,-50%);
        
        @media screen and (max-width: 700px) {
            position: absolute;
            top: 33px;
            left: 10%;
        }
    }
    .long {
        width: 7.5em;
        height: auto;
        @media screen and (max-width: 700px) {
            display: none;
        }
    }
    .small {
        display: none;
        @media screen and (max-width: 700px) {
            display: inline-block;
            width: 3em;
            height: auto;
        }
    }
}

.navbar {
    background-color: #000000;
    border-radius: 0;
    color: #fff !important;
    padding: 0;
    margin: 0;
    border: none;
    .active{
        background-color: #000000 !important;
    }
    a:visited{
        background: #000000 !important;
    }

    .padding {
        color: #ffffff;
    }
    .location {
        display: inline;
        position: relative;
    }
    .navbar-nav {
        color: #ffffff !important;
        .seperator {
            display: none;
        }
        .dropdown {
            background-color: #000000;
            color: #ffffff;
            :hover {
                background: #000000 !important;
                color: #fff !important;
            }
        }
        .dropdown-menu {
            background: #000000 !important;
            color: #fff !important;
            li {
                background: #000000 !important;
                color: #fff !important;
            }
        }
        @media screen and (min-width:700px) {
            .padding {
                padding-top: 7px;
                padding-bottom: 7px;
            }
            .auth {
                padding-top: 4px;
                padding-bottom: 4px;
                margin-top: 16px;
                margin-bottom: 16px;
                border: 1px solid #ffffff;
                margin-right: 1em;
                .seperator {
                    display: inline-block;
                }
                li {
                    a {
                        padding: 0 1em 0 1em;
                    }
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .navbar-nav {
        display: inline;
    }
    .navbar-default .navbar-brand {
        display: inline;
    }
    .navbar-default .navbar-toggle {
        border: none;
        background: #000000 !important;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .navbar-default .navbar-nav .dropdown-menu>li>a {
        color: #ffffff;
        margin-top: 2px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #333;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        background-color: #000000;
    }
    .dropdown-menu {
        padding-left: 10px;
    }
    .dropdown-menu .dropdown-menu {
        padding-left: 20px;
    }
    .dropdown-menu .dropdown-menu .dropdown-menu {
        padding-left: 30px;
    }
}

@media (min-width: 761px) {
    ul.nav li:hover>ul.dropdown-menu {
        display: block;
    }
    #navbar {
        text-align: center;
    }
}