@font-face {
  font-family: "extrabold";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'bold';
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: 'semibold';
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

body {
  font-family: 'Montserrat', sans-serif;
}

.highlites {
  background-color: #f3f3f3;
  padding: 4em 2em 4em 2em;
}

@media screen and (max-width: 700px) {
  .highlites {
    padding: 0.5em 0.4em 2em 0.4em;
  }
}

.highlites .row {
  width: 85%;
}

@media screen and (max-width: 700px) {
  .highlites .row {
    width: 100%;
  }
}

.highlites .thumb {
  text-align: left;
  font-family: extrabold;
}

@media screen and (max-width: 700px) {
  .highlites .thumb {
    margin: 0 10px 10px 10px;
    width: 170px;
    height: 80px;
    padding: 1em;
  }
}

@media screen and (max-width: 410px) {
  .highlites .thumb {
    margin: 0 5px 5px 5px;
    padding: 1em;
    width: 150px;
    height: 70px;
  }
}

.highlites .thumb img {
  background: #E3E1E1;
  width: 222px;
  height: 82px;
  -webkit-box-shadow: 0px 3px 9px -3px rgba(0, 0, 0, 0.89);
  box-shadow: 0px 3px 9px -3px rgba(0, 0, 0, 0.89);
}

@media screen and (max-width: 700px) {
  .highlites .thumb img {
    margin-left: 0em;
    margin-right: 0em;
    width: 170px;
    height: 80px;
    display: inline-block;
  }
}

@media screen and (max-width: 410px) {
  .highlites .thumb img {
    margin-left: 0em;
    margin-right: 0em;
    width: 150px;
    height: 70px;
    display: inline-block;
  }
}

.highlites .thumb .text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 222px;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 2em;
  line-height: 0.7em;
}

@media screen and (max-width: 700px) {
  .highlites .thumb .text {
    position: absolute;
    top: 90%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 170px;
    height: 80px;
  }
}

@media screen and (max-width: 410px) {
  .highlites .thumb .text {
    position: absolute;
    top: 90%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 150px;
    height: 70px;
  }
}

.highlites .thumb .text span {
  font-size: 10px !important;
}

.section_heading {
  text-align: center;
  font-family: "semibold";
  padding-top: 1em;
}

.speciality .special {
  width: 75%;
  margin-top: 2em;
}

@media screen and (max-width: 700px) {
  .speciality .special {
    width: 90%;
  }
}

.speciality .special .card {
  width: 240.5px;
  height: 140px;
}

@media screen and (max-width: 700px) {
  .speciality .special .card {
    width: inherit;
    height: inherit;
  }
}

.speciality .special .number {
  font-family: 'bold';
  font-size: 4em;
  color: #FECC00;
}

@media screen and (max-width: 700px) {
  .speciality .special .number {
    font-size: 3em;
  }
}

.speciality .special .head {
  font-family: 'bold';
  font-size: 1.05em;
  color: #000000;
  text-align: left;
  padding-top: 1.2em;
}

@media screen and (max-width: 700px) {
  .speciality .special .head {
    padding-top: 0.8em;
  }
}

.speciality .special .body {
  text-align: justify;
  font-size: 0.8em;
}

.fleet {
  background-color: #EEEEEE;
}

.fleet .bikes {
  background-color: #ffffff;
  width: 85%;
  margin-top: 2em;
  margin-bottom: 5em;
}

@media screen and (max-width: 700px) {
  .fleet .bikes {
    width: 85%;
  }
}

.fleet .bikes .row {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.fleet .bikes .col-md-3 {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.fleet .card {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 !important;
  border-bottom: 7px solid #9E9E9E;
  overflow-y: hidden;
}

.fleet .card .image {
  width: 100%;
  height: 100%;
}

.fleet .card .text {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'bold';
  font-size: 0.9em;
  width: 100%;
}

.fleet .card .more {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'bold';
  font-size: 1.1em;
  color: #9E9E9E;
}

footer {
  background-color: #363636;
  color: #ffffff;
}

footer .content {
  width: 80%;
  text-align: left;
}

footer .content img {
  width: 68%;
}

footer .content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */